#!/bin/bash

# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}
set -euo pipefail

echo "Checking for new packages to install on CachyOS..."

# 1. Update system databases and install official repo packages
sudo pacman -Syu --needed --noconfirm {{ range .packages.cachyos.pacman }}{{ . }} {{ end }}

# 2. Install AUR packages using paru (pre-installed by default on CachyOS)
if command -v paru &> /dev/null; then
    paru -S --needed --noconfirm {{ range .packages.cachyos.aur }}{{ . }} {{ end }}
else
    echo "paru not found, skipping AUR packages."
fi

# Set GNOME to use dark color scheme
gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'

# Configure fish shell with default prompt and set nvim as the default editor
fish -c "fish_config prompt choose default && funcsave fish_prompt"
fish -c "set -Ux EDITOR nvim"
fish -c "set -Ux SUDO_EDITOR nvim"
fish -c "alias --save vi='nvim'"
fish -c "alias --save vim='nvim'"

sudo modprobe ryzen_smu
grep -qxF "ryzen_smu" /etc/modules-load.d/ryzen_smu.conf || echo "ryzen_smu" | sudo tee -a /etc/modules-load.d/ryzen_smu.conf

z13ctl batterylimit --set 60

sudo sed -i 's/^animation = none$/animation = matrix/' /etc/ly/config.ini
sudo sed -i 's/^bigclock = none$/bigclock = en/' /etc/ly/config.ini

test -d ~/.config/easyeffects || echo 1 | bash -c "$(curl -fsSL https://raw.githubusercontent.com/JackHack96/EasyEffects-Presets/master/install.sh)"

echo "Software installation sync complete"
